@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000000;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
main{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 4rem;
    align-items: center;
}
.first-sec{
    min-width: 40vw;
    width: 40vw;
    overflow: hidden;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid #ffffff;
    height: auto;
    border-radius: 1rem;
}
.first-sec > div:first-of-type{
    position: relative;
}
.first-sec img{
    width: 100%;
    height: auto;
}
.first-sec > div:first-of-type button{
    position: absolute;
    background-color: #0e0e10;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    height: 70px;
    padding: 0.5rem;
    border: none;
}
.first-sec > div:first-of-type button img{
    height: 100%;
    width: auto;
}
.first-sec > div:first-of-type button:first-of-type{
    left: 0;
     transform: translateY(-50%) scaleX(-1);
}

.first-sec > div:first-of-type button:nth-of-type(2){
    right: 0;
   
}
.first-sec > div:last-of-type{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    height: 100px;
    overflow-x: auto;
}

.second-sec{
    padding:2rem 0 ;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.shape img{
    height: 15px;

}
.price{
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: end;
    margin: 0.5rem 0;
}
.second-sec > p{
    font-size: 0.9rem;
}
.price > p:first-child{
    font-weight: 700;
    font-size: 1.5rem;
}
.second-sec li{
    margin-left: 2rem;
    margin-top: 0.3rem;
}
.second-sec li strong{
    font-weight: 600;
}
.availability{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.availability > p:last-child{
    padding: 0.5rem 1rem;
    background-color: rgb(47, 0, 255);
    border-radius: 1.5rem;
    font-size: 0.9rem;
}
.second-sec > div:last-of-type{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    margin-top: 0.5rem;
}
.second-sec button{
      padding: 0.7rem 1rem;
  border: none;
  background-color: #e20c26;
  color: #ffffff;
  border-radius: 1rem;
}