@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000000;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 60px;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  border-radius: 0 0 2rem 2rem;
  background-color: #000000;
  backdrop-filter: blur(30px);
}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  font-weight: bold;
  gap: 0.2rem;
}
header > div:last-of-type{
  position: relative;
}
header nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.8rem;
  transition: all 0.3s;
}
.menu-btn {
    display: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background: transparent;
    border: 1px solid #D4D4D4;
    cursor: pointer;
    text-wrap: nowrap;
}

header nav :is(a:active, a:hover) {
  color: #e20c26;
}
header img {
  height: 100%;
  width: auto;
}
header button {
  padding: 0.7rem 1rem;
  border: none;
  background-color: #e20c26;
  color: #ffffff;
  border-radius: 1rem;
}
.background {
  padding: 1rem;
  height: 100vh;
  overflow: hidden;
  position: relative;
  opacity: 0;
}
.background-image {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 57%;
}
.header-text {
  position: absolute;
  top: 15%;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.header-text h1 {
  font-size: 3rem;

  font-weight: 800;
}
.header-text p {
  font-size: 1rem;
}
.search-place {
  opacity: 0;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100px;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.search-place::before {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -2;
  background-image: linear-gradient(#c88366, #eda9d270 44%);
  border-radius: inherit;
}
.search-place::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: inherit;
  top: 0;
  left: 0;
}
.pickup {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 0.5rem;
}
.pickup > p {
  font-weight: 600;
  font-size: 0.9rem;
}
.pickup > div  div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.pickup > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.pickup > div > img{
  height: 12px;
  width: auto;
}
.vertical-rule {
  width: 1px;
  height: 100%;
  background-color: #ffffff;
}
.pickup > div p {
  font-size: 0.8rem;
}
.search-place button {
  background-color: #e20c26;
  padding: 1rem 1.3rem;
  border: none;
  border-radius: 0.5rem;
}

.choose {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.choose > div {
  text-align: center;
}
.choose h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.choose section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(3, 250px);
  grid-auto-rows: 220px;
  gap: 1.5rem;
}
.choose section > div {
  border-radius: 0.6rem;
  max-width: 250px;
  max-height: 220px;
  width:  250px;
  height: 220px;

  background-color: #0e0e10;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  padding: 1rem;
  gap: 1rem;
  position: relative;
  overflow: hidden;
}
.choose section > div::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: #fb576b;
  filter: blur(50px);
  -webkit-filter: blur(50px);
  right: -50%;
  top: -50%;
}
.choose section div > div {
  background-color: #e20c26;
  height: 40px;
  width: 47px;
  border-radius: 0.5rem;
  padding: 0.7rem;
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
}
.choose section div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.choose .heading {
  font-size: 1.1rem;
  font-weight: 600;
}
.choose p {
  font-size: 0.75em;
  font-weight: 400;
}
.works {
  height: 90vh;
  background-color: #0e0e10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}
.works > div {
  height: 100%;
  overflow: hidden;
  display: grid;
  place-content: center;
}
.works > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.works section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 3rem;
  align-items: start;
}
.works section h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
.numbers {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background-color: #18181b;
  display: grid;
  place-content: center;
  font-family: inherit;
  font-weight: 500;
  position: relative;
}
.works section > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.works section > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bold {
  font-size: 1.2rem;
  font-weight: 600;
}
.works section button {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 1.3rem;
  background-color: #e20c26;
  color: inherit;
}
.vertical {
  width: 1px;
  height: 5rem;
  background-color: #ffffff;
  position: absolute;
  top: 117%;
  left: 50%;
  transform: translateX(-50%);
}
.rent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem 3rem;
  gap: 3rem;
}
.rent > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.categories {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.categories > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #171717;
  width: 50%;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
.categories button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  font-family: inherit;
  font-weight: 500;
  background-color: transparent;
  color: inherit;
  transition: all 0.5s;
}
.categories :is(button:hover, button:active) {
  background-color: #0e0e10;
}
.buy {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.buy section {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.buy section > div:first-child {
  height: 230px;
  border-radius: 1rem;
  overflow: hidden;
}
.buy section > div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.buydiv {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.shape {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}
.buydiv > p {
  font-weight: 600;
}
.atributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
  font-size: 0.8rem;
}
.atributes > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.buydiv > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.buydiv > div:last-child button {
  padding: 0.5rem 0.7rem;
  border: none;
  background-color: #e20c26;
  border-radius: 1rem;
  color: inherit;
  font-family: inherit;
}
.ofssarticle {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.offs {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: #0e0e10;
}
.offs::before {
  position: absolute;
  content: "";
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #fb576b;
  filter: blur(50px);
  top: -18vw;
}
.offs div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.offs h2 {
  font-weight: 700;
  font-size: 2.5rem;
}
.offs p {
  font-size: 0.8rem;
}
.ofssarticle > section {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.ofssarticle > section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.toggle-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.toggle-row div {
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border-radius: 50%;
}
.customer-comment {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-image: linear-gradient(#000000 30%, #0e0e10);
}
.customer-comment h2 {
  font-weight: 600;
  font-size: 2rem;
}
.customer-comment > p {
  font-size: 0.8rem;
  text-align: center;
}
.customer-comment > section {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.comments {
  width: 280px;
  height: 250px;
  min-height: 250px;
  min-width: 280px;
  padding: 0 1rem;
  background-color: #0e0e10;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.comments::before {
  content: "";
  background-color: #18181b;
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 0.5rem;
  z-index: -1;
  bottom: -50px;
  left: -50px;
  transform: rotate(54.66deg);
}
.comments::after {
  content: "";
  background-color: #18181b;
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 0.5rem;
  z-index: -1;
  top: -50px;
  right: -50px;
  transform: rotate(-54.66deg);
}
.comments > div:first-child {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.comments > div:first-child > div:first-child {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.comments > div:first-child > div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comments > div:first-child > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.comments > div:first-child > div:last-child > p:first-child {
  font-weight: 500;
}
.comments > div:first-child > div:last-child > p:last-child {
  color: #62646c;
  font-weight: 400;
}
.comments > p {
  font-size: 0.8rem;
  line-height: 1.3rem;
}
.comments > div:nth-child(2) img {
  height: 15px;
}
.forms {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 3rem;
  background-color: #0e0e10;
}
.forms > h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.forms > p {
  font-size: 0.8rem;
  text-align: center;
}
.forms > section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.forms section > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.forms section > div:first-child h2 {
  font-size: 1.4rem;
  font-weight: 500;
}
.forms section > div:first-child p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.forms section > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.3rem;
}
.forms section > div:last-child > div:first-child {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.3rem;
}
.forms section > div:last-child > div:nth-child(2) {
  width: 100%;
}
.bold {
  font-size: 0.9rem;
}
.forms section input {
  width: 100%;
  padding: 0.7rem 0;
  border: none;
  border-bottom: 1px solid #2f2f37;
  outline: none;
  background-color: transparent;
}
.forms section button {
  padding: 0.7rem 1rem;
  border: none;
  background-color: #e20c26;
  border-radius: 1.3rem;
  color: inherit;
  margin-top: 1rem;
}
.foot > section:first-child {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  border-top: 1px solid #2f2f37;
  border-bottom: 1px solid #2f2f37;
  justify-content: space-between;
  align-items: center;
  background-color: #070708;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.foot > section:first-child::before {
  content: "";
  background-image: url("images/Abstract Design (1).png");
  position: absolute;
  height: 300px;
  width: 300px;
  top: 0;
  left: -20px;
  z-index: -1;
}
.foot > section:first-child::after {
  content: "";
  background-image: url("images/Abstract Design.png");
  position: absolute;
  height: 300px;
  width: 300px;
  top: 0;
  right: 30px;
  z-index: -1;
}
.foot > section:first-child div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.foot > section:first-child h2 {
  font-size: 2.2rem;
  font-weight: 600;
}
.foot > section:first-child p {
  font-size: 0.8rem;
}
.foot > section:first-child button {
  padding: 0.7rem 1rem;
  border: none;
  background-color: #e20c26;
  border-radius: 1.3rem;
  color: inherit;
}
.foot2 {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  justify-content: space-between;
  background-color: #0e0e10;
}
.foot2 > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: start;
}
.foot2 > div:first-child > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  gap: 0.2rem;
}
.foot2 > div:first-child > div:last-child {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border: 1px solid #2f2f37;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
.foot2 > div:first-child input {
  border: none;
  background-color: transparent;
  outline: none;
}
.foot2 nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.foot2 nav a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer {
  display: flex;
  flex-direction: row;
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
}
footer div {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}
footer div button {
  height: 25px;
  width: 25px;
  background-color: #141414;
  border-radius: 50%;
  border: none;
  padding: 0.3rem;
  box-sizing: content-box;
  display: grid;
  place-content: center;
}
footer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 575.98px){
.menu-btn{
  display: block;
}
header{
  padding: 1rem;
}
header nav{
  display: none;
  position: absolute;
 bottom: -10rem;
 flex-direction: column;
 left: 50%;
 transform: translateX(-50%);
}
        header .active {
        display: flex;
    }
    .background-image{
      position: absolute;
      border-radius: 0;
      top: 0;
      left: 0;

    }
    .background{
      height: auto;
      padding: 4rem 1rem 2rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
    .header-text{
      position: static;
      align-items: center;
      width: 100%;
      justify-content: center;
      text-align: center;

    }
    .header-text h1{
      font-size: 2.5rem;
    }
    .background br{
      display: none;
    }
    .search-place{
      position: static;
      flex-direction: column;
      height: auto;
      transform: translateX(0);
      width: 90%;
      gap: 1rem;
      align-items: center;
      text-align: center;
    }
    .vertical-rule{
     height: 2px;
     width: 100%;
    }
    .choose{
      height: auto;
      padding: 2rem 1rem;
      gap: 1.5rem;
    }
    .choose section{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      }
      .works,.ofssarticle,.customer-comment{
        height: auto;
        display: flex;
        flex-direction: column;
      }
      .works section{
        padding: 2rem 1rem;
        gap: 1rem;
        padding-left: 1rem;
      }
      .works section h2{
        text-align: center;
        width: 100%;
      }
      .rent{
        padding: 2rem 1rem;
      }
      .rent > div{
        gap: 1rem;
      }
      .categories{
        gap: 1rem;
      }
      .categories > div {
        flex: 1;
        overflow-x: scroll;
        text-wrap: nowrap;
        width: 100%;
      }
      .buy{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
      .offs{
        padding: 2rem 1rem;
        justify-content: space-between;
        gap: 1rem;
      }
      .offs div{
        text-align: center;
      }
      .offs h2{
        font-size: 2.2rem;
      }
      .ofssarticle > section{
        height: 60vw;
      }
      .customer-comment{
        padding: 2rem 1rem;
        gap: 1rem;
      }
      .customer-comment h2 , .customer-comment > p{
        text-align: center;
      }
      .customer-comment br,.forms br{
        display: none;
      }
      .customer-comment > section{
        margin-top: 1rem;
        overflow-x: scroll;
        width: 100%;
      }
      .forms{
        height: auto;
        padding: 2rem 1rem;
        gap: 1.5rem;
      }
      .forms > h2,.forms > p,.forms section > div:first-child h2,.forms section > div:first-child p{
        text-align: center;
        width: 100%;
      }
      
      .forms > section{
        display: flex;
        flex-direction: column;
      }
      .foot > section:first-child{
        flex-direction: column;
        text-align: center;
        gap: 1rem;
      }
      .foot2{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 2rem 1rem;
      }
      .foot2 > div:first-child{
        gap: 0.5rem;
        align-items: start;
        width: 100%;
      }
      .links{
        gap: 1rem;
      }
      .foot2 > div:first-child > div:last-child {
        width: auto;
      }
      footer{
        padding: 1rem;
        gap: 1rem;
        flex-direction: column;

      }
      footer div{
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
      


}